.body-cointeiner{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    min-height: 68vh;
}

h1{
    position: relative;
    top: 2rem;
    right: 11rem;
    margin: 1rem 1rem;
}