<p>client-list works!</p>

<input class="inputNewCustomer" type="text" #newCustomer>
<button class="btnAdd" (click)="addCustomer(newCustomer.value)"><i class="fa fa-plus"></i></button>

<ul *ngFor="let customer of customerList">
    <li>{{customer}}</li><button class="bntDelete" (click)="deleteCustomer(customer)"><i class="fa fa-trash"></i></button>
</ul>


<p>NOWA LISTA</p>
<ul *ngFor="let customer of customerObjectList">
    <li>{{customer.name}} {{customer.lastName}}, age: {{customer.age}}</li>
</ul>