.btnAdd{
    position: relative;
    background-color: rgb(45, 221, 45);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: .4%;
    transition: .3s color, .3s transform ;
    outline: none;
    left: 3.1%;
}

.btnAdd:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.bntDelete{
    position: relative;
    color: red;
    padding: .8%;
    font-size: 140%;
    background-color: white;
    border: none;
    transition: .5s color, .3s transform;
    outline: none;
    left: .5%;
}

.bntDelete:hover{
    color: red;
    transform: scale(1.1);
}

.inputNewCustomer{
    position: relative;
    left: 3%;
    border: 2px dashed black;
}

input:focus{
    outline: none;
    background-color: rgb(255, 248, 151);
}

input:focus:hover{
    transition: .5s background-color;
}

ol{
    list-style: none;
}

.customerList{
    display: inline-block;
}

.customerNumber{
    display: inline-block;
    margin-right: .8%;
}

.newList{
    display: inline;
}