<h1>Add Address</h1>

<form [formGroup]="form" (ngSubmit)="saveAddress()">
  <div class="ngFormHere">
    <label>Country :</label>
      <br>
      <input class="inputNgForm"
      type="text"
      formControlName="country">
  
        <div class="alert alert-danger" *ngIf="form.checkIsRequired('country')">
          Country is required <i class="fa fa-exclamation"></i>
        </div>
        <div class="alert alert-danger" *ngIf="form.checkIsMinLength('country')">
          Country is too short <i class="fa fa-exclamation"></i>
        </div>
        <div class="alert alert-danger" *ngIf="form.checkIsMaxLength('country')">
          Country is too long <i class="fa fa-exclamation"></i>
        </div>
        <div class="alert alert-danger" *ngIf="form.checkIsPattern('country')"> 
          Cannot contain numbers <i class="fa fa-exclamation"></i>
        </div>
      </div>

    <div class="cityDiv">
      <label>City :</label>
        <br>
        <input class="inputNgForm"
        type="text"
        formControlName="city">
      
          <div class="alert alert-danger" *ngIf="form.checkIsRequired('city')">
            City is required <i class="fa fa-exclamation"></i>
          </div>
          <div class="alert alert-danger" *ngIf="form.checkIsMinLength('city')">
            City is too short <i class="fa fa-exclamation"></i>
          </div>
          <div class="alert alert-danger" *ngIf="form.checkIsMaxLength('city')">
            City is too long <i class="fa fa-exclamation"></i>
          </div>
          <div class="alert alert-danger" *ngIf="form.checkIsPattern('city')"> 
            Cannot contain numbers <i class="fa fa-exclamation"></i>
          </div>
        </div>

    
      <div class="zipCodeDiv">
        <label>Zip Code :</label>
          <br>
          <input class="inputNgForm"
          type="text"
          formControlName="zipCode">
        
            <div class="alert alert-danger" *ngIf="form.checkIsRequired('zipCode')">
              Zip Code is required <i class="fa fa-exclamation"></i>
            </div>
            <div class="alert alert-danger" *ngIf="form.checkIsMinLength('zipCode')">
              Zip Code is too short <i class="fa fa-exclamation"></i>
            </div>
            <div class="alert alert-danger" *ngIf="form.checkIsMaxLength('zipCode')">
              Zip Code is too long <i class="fa fa-exclamation"></i>
            </div>
            <div class="alert alert-danger" *ngIf="form.checkIsPattern('zipCode')"> 
              Cannot contain letters <i class="fa fa-exclamation"></i>
            </div>
          </div>

        <div class="streetDiv">
          <label>Street :</label>
            <br>
            <input class="inputNgForm"
            type="text"
            formControlName="street">
          
              <div class="alert alert-danger" *ngIf="form.checkIsRequired('street')">
                Street is required <i class="fa fa-exclamation"></i>
              </div>
              <div class="alert alert-danger" *ngIf="form.checkIsMinLength('street')">
                Street is too short <i class="fa fa-exclamation"></i>
              </div>
              <div class="alert alert-danger" *ngIf="form.checkIsPattern('street')">
                Street is too long <i class="fa fa-exclamation"></i>
              </div>
            </div>

          <br>

  <button type="submit"> Save</button>
  <button type="button" (click)="form.reset()">Clear</button>
 
  <pre>{{form.value | json }}</pre>

</form>