$white: #fff;
$black: #000;

body {
  background-color: $black;
}

.filter-icon{
    color: white;
    position: relative;
    left: .5rem;
    font-size: .9rem;
    transition: .5s color, .3s transform;
    padding: .1% .8%;
    background: transparent;
    border: none;
    outline: none;
}

.button-to-submit-filter{
    margin-left: 1rem;
    font-size: 1rem;
    width: 1rem;
}

.filter-icon:hover{
    color: rgb(255, 0, 221);
    transform: scale(1.1);
    cursor: pointer;
}

.input-for-filter{
    border-radius: .2rem;
    margin: none;
    width: 70%;
    border: .1rem solid black;
    text-align: center;
    margin-bottom: .2rem;
    height: 1.5rem;
    font-size: .9rem;
}

.form-control{
    text-align: center;
    font-size: .9rem;
    position: relative;
    left: 4rem;
    width: 240%;
    height: 1.5rem;
    margin-bottom: .3rem;
}

#versionTwo{
    display: block;
    width: 80%;
    left: 7rem;
}

.to-left{
    float: left;
}

.status-filter{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.status-filter:hover{
    cursor: pointer;
    color: #e6e6e6;
}

.option-status-filter{
    color: black;
}

.arrow {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 25px;
    font-size: 12px;

    span {
      top: 4px;
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: $white;
      display: inline-block;
      transition: all .2s ease;

      &:first-of-type {
        left: 0;
        transform: scale(.9) rotate(45deg);
      }

      &:last-of-type {
        right: 0;
        transform: scale(.9) rotate(-45deg);
      }
    }

    &.active {
      span {
        &:first-of-type {
          transform: scale(.9) rotate(-45deg);
        }

        &:last-of-type {
          transform: scale(.9) rotate(45deg);
        }
      }
    }
  
    &:hover {
      cursor: pointer;
    }
  }

.my-class {
    ::ng-deep {
      .mat-form-field-ripple {
        background-color: #2ec200;
        border-bottom: 2.5px solid #2ec200;
        outline: none;
    }
    .mat-form-field-underline {
        background-color: #2ec200;
    }
}
}

.column1{
    cursor: pointer;
    transition: transform .3s ;
}

.column1:focus{
    border: none;
    text-decoration: none;
    outline: none;
    background: transparent;
}

.column1:hover{
    color: chocolate;
    transform: scale(1.1);
}

.sort-button{
    color: rgb(255, 255, 255);
    transition: .5s color;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.sort-button:hover{
    color: var(--colorMustard);
    cursor: pointer;
}

.bntAdd{
    height: 2.3rem;
    position: relative;
    background-color: rgb(71, 194, 71);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: .4%;
    transition: .3s color, .3s transform ;
    outline: none;
    margin-bottom: .2rem;
    float: right;
    left: .7rem;
}

.bntAdd:hover{
    color: rgb(255, 255, 255);
    transform: scale(.9);
}

select {
    border: .1em solid #E6E6E6;
    border-radius: .2rem;
    background-color: rgb(255, 251, 245);
    transition: background-color .3s ;
}

.status-selected{
    cursor: pointer;
}

.column, .columnInfo{
    text-align: center;
}

.check-box{
    cursor: pointer;
    width: 1rem;
    position: relative;
    top: .1rem;
    left: 1.3rem;
}

.checkBoxSelected{
    background-color: AntiqueWhite;
}

.optionDelivered{
    background-color: rgb(4, 192, 4);
}

.optionCancelled{
    background-color: rgb(241, 102, 102);
}

.optionShowAll{
    background-color: rgb(255, 187, 138);
}

.optionDelivered:disabled{
    background-color: rgb(4, 192, 4);
    cursor: not-allowed;
    opacity: .9;
    color: rgb(53, 53, 53);
}

.optionCancelled:disabled{
    background-color: rgb(241, 102, 102);
    cursor: not-allowed;
    opacity: .9;
    color: rgb(53, 53, 53);
}

.tel{
    display: none;
}

.order-per-page{
    cursor: pointer;
    color: white;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    display: inline-block;
    position: sticky;
    border-radius: 5px;
    padding: 0.35rem 0.1rem;
    margin-bottom: .5rem;
    margin-right: 1%;
    background-color: #343A40;
    text-decoration: none;
}

.option-orders-per-page{
    color: white;
    background-color: #343A40;
    text-decoration: none;
}

.option-orders-per-page:hover{
    text-decoration: none;
    outline: none;
    color: var(--colorMustard);
    background-color:  #343A40;
}


.order-per-page:hover{
    text-decoration: none;
    outline: none;
    color: var(--colorMustard);
    background-color:  #343A40;
}

.option-check-box{
    height: 2.3rem;
    position: relative;
    background-color: rgb(31, 90, 158);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: .4%;
    transition: .3s color, .3s transform ;
    outline: none;
    margin-bottom: .2rem;
    margin-right: 1rem;
    float: right;
    left: .7rem;
}

.option-check-box:hover{
    transform: scale(.9);
}

@media screen and (max-width: 625px) {

    .tel{
        display: inline;
        font-weight: bold;
    }

    table thead {
        display: none;
      }

    table td {
      display: block;
    }
    
    table td::before {
      content: attr(label);
      font-weight: bold;
      width: 120px;
      min-width: 120px;
    }

    .bntDelete{
        left: 1rem;
    }

    .column1, .column{
        text-align: left;
    }

    .column1{
        border-top: .1rem solid black;
    }
}