<div class="add">
  <button class="bntAdd" [routerLink]='["/orders/CreateOrder"]'><fa-icon [icon]="faPlusSquare"></fa-icon> Add Order</button>
</div>

<table  class="table">
  <thead class="thead-dark">
    <tr>
      <th class="columnInfo1" scope="col">
        <input type="checkbox" 
        title="Check Box" 
        (change)="toggleAllCheckList()"
        class="form-check-input check-box" 
        id="exampleCheck1">
      </th>
      <th class="columnInfo1" scope="col">Id</th>
      <th class="columnInfo1" scope="col">Ordered by customer</th>
      <th class="columnInfo" scope="col">Price</th>
      <th class="columnInfo" scope="col">Ordered date</th>
      <th class="columnInfo" scope="col">Last update date</th>
      <th class="columnInfo" scope="col">Days of last update</th>
      <th class="columnInfo" scope="col">Status</th>
    </tr>
  </thead>
  <tbody >

    <tr *ngFor="let order of orderedOrders">
      <th scope="row">
        <input type="checkbox" 
        title="Check Box" 
        [checked]="isOrderSlected(order.item.id)"
        (change)="checkCheckList(order.item.id)" 
        class="form-check-input check-box" 
        id="exampleCheck1">
      </th>
      <th scope="row">{{ order.orderNumber }}</th>
      <td class="column1" [routerLink]='["/clients/details/" + order.item.orderedByCustomerId]'><p class="tel">Ordered by customer: </p>{{order.item.orderedByCustomerFullName}}</td>
      <td class="column"><p class="tel">Price: </p>{{order.item.price.toFixed(2)}}</td>
      <td class="column"><p class="tel">Ordered date: </p>{{order.item.creationDate | date}}</td>
      <td class="column"><p class="tel">Last update date: </p>{{order.item.lastUpdateDate | date}}</td>
      <td class="column"><p class="tel">Days of last update: </p>{{getDays(order.item.lastUpdateDate)}}</td>
      <td class="column"><p class="tel">Status: </p>

        <select 
        #orderStatusSelect
        [disabled]="checkStatus(order.item.statusId, 'Cancelled') || checkStatus(order.item.statusId, 'Delivered')"
        [ngClass]="{
          'optionCancelled':  checkStatus(order.item.statusId, 'Cancelled'),
          'optionDelivered' : checkStatus(order.item.statusId, 'Delivered')
        }"
        (change)="onSelectedStatus($event.target.value, order.item.id)">
          <option 
           *ngFor="let orderStatus of orderStatuses" 
           [selected]="orderStatus.id === order.item.statusId" 
           [value]="orderStatus.id" 
           [ngClass]="{ 
            'optionDelivered': orderStatus.name === 'Delivered', 
            'optionCancelled': orderStatus.name === 'Cancelled'}">
           {{orderStatus.name}}
          </option>
        </select>

      </td>
  </tr>
  </tbody>
</table>

<app-pagination
[items]="ordersList"
(pageChangedEventEmitter)="onPageChanged($event)">
</app-pagination>

