

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body{
    font-size: 22px;
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
    --colorMustard: #FFC312;
    --color-faded-red: rgb(253, 77, 77);
    --color-grenn:  rgb(0, 116, 0);
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr';
