<div *ngIf="!!addressesList && addressesList.length > 0; else emptyList"> 
  <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Street</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let address of addressesList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td class="columnUserAddress">{{address.country}}</td>
            <td class="columnUserAddress">{{address.city}}</td>
            <td class="columnUserAddress">{{address.zipCode}}</td>
            <td class="columnUserAddress">{{address.street}}</td>
            <td class="columnBnt">
                <button class="bntDetails" title="Show details" (click)="addressDetails(address)">
                    <i class="fa fa-info-circle"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #emptyList>
    <div class="emptyList">
        INFO! The address list is empty.
    </div>
</ng-template>
