.bntDetails{
    font-size: 1.6rem;
    position: relative;
    background: transparent;
    border: none;
    left: .5rem;
    padding: .1rem .5rem ;
    transition: .3s transform;
}

.bntDetails:hover{
    transform: scale(1.2)
}

.bntDetails:focus{
    outline: none;
}

.table{
    margin-bottom: 3rem;
}