<h1 class="chosenUser">Chosen user:</h1>
<div class="info">
    <br>
    <p class="infoUser">Id: {{copyOfCustomer.id}}</p>
    <br>
    <input type="text" placeholder="Name" [(ngModel)]="copyOfCustomer.name" required minlength="2" maxlength="10" name="name" id="name" #name="ngModel"> 
    <div *ngIf="name.errors && (name.dirty || name.touched)"
            class="alert alert-danger">
        <div *ngIf="name.errors.required">
            Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
            Name is too short.
        </div>
        <div *ngIf="name.errors.maxlength">
            Name is too long.
        </div>
    </div> 
    <button (click)="saveName(copyOfCustomer)">save</button>
    <br>
    <input type="text" placeholder="Last name" [(ngModel)]="copyOfCustomer.lastName" required minlength="3" maxlength="25" name="lastName" id="lastName" #lastName="ngModel"> 
    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
            class="alert alert-danger">
        <div *ngIf="lastName.errors.required">
            lastName is required.
        </div>
        <div *ngIf="lastName.errors.minlength">
            lastName is too short.
        </div>
        <div *ngIf="lastName.errors.maxlength">
            lastName is too long.
        </div>
    </div>
    <button (click)="saveLastName(copyOfCustomer)">save</button>
    <br>
    <input type="text" placeholder="Address" [(ngModel)]="copyOfCustomer.address.city" required minlength="3" maxlength="20" name="address" id="address" #address="ngModel">
    <div *ngIf="address.errors && (address.dirty || address.touched)"
        class="alert alert-danger">
        <div *ngIf="address.errors.required">
            Address is required.
        </div>
        <div *ngIf="address.errors.minlength">
            Address is too short.
        </div>
    </div>
    <button (click)="saveCity(copyOfCustomer)">save</button>

    <br>
    <label for="sex">Choose your gender: </label>
    <select name="sex" id="sex" [(ngModel)]="copyOfCustomer.sex">
        <option value="M">M</option>
        <option value="F">F</option>
    </select>
    <button class="saveGender" (click)="saveGender(copyOfCustomer)">save</button>
    <br>

    <input type="text" placeholder="Phone number" [(ngModel)]="copyOfCustomer.phoneNumber" required minlength="9" maxlength="10" name="phoneNumber" id="phoneNumber" #phoneNumber="ngModel"> 
    <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)"
            class="alert alert-danger">
        <div *ngIf="phoneNumber.errors.required">
            Phone number is required.
        </div>
        <div *ngIf="phoneNumber.errors.minlength">
            Phone number is too short.
        </div>
        <div *ngIf="phoneNumber.errors.maxlength">
            Phone number is too long.
        </div>
    </div>
    <button (click)="savePhoneNumber(copyOfCustomer)">save</button>
    <br>

    <input type="text" placeholder="Mail" [(ngModel)]="copyOfCustomer.mail" required minlength="5" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="35" name="mail" id="mail" #mail="ngModel">
    <div *ngIf="mail.errors && (mail.dirty || mail.touched)"
            class="alert alert-danger">
        <div *ngIf="mail.errors.required">
            Email is required
        </div>
        <div *ngIf="mail.errors.pattern">
            Please provide a valid email address.
        </div>
        <div *ngIf="mail.errors.minlength">
            Email is too short.
        </div>
    </div>
    <button (click)="saveMail(copyOfCustomer)">save</button>
    <br>
</div>