<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->


<div class="container">
  <h2 class="h2FirstRow">Kacper Bergański</h2>
  <h2 class="h2FirstRow">Frontend developer <fa-icon class="iconAngular" [icon]="faAngular"></fa-icon></h2>
  <br>
  <div class="row firstRow">
    <div class="col  colProfil">
      <img class="imgProfil" src=".\..\..\assets\kacperek.png" alt="Card image cap">
    </div>
    <div class="col">
      <h2 class="descriptionH2">Short description</h2>
      <div>
        <p class="textDescription">
          I am a junior frontend developer at the beginning of my career.
          Before that, I was a professional biathlete.
          I was Polish representative at the Youth Olympic Games in Turkey and a multiple Polish championships in biathlon and cross-country skiing.
          Road bike riding is my passion. I love nature. I spend every possible free moment in the forest.
          Demanding first of all from myself and a perfectionist in performing the task at hand.
        </p>
      </div>
    </div>
  </div>

  <div class="row techRow">
    <div class="col line">
      <h2 class="technologiesH2">Technologies: </h2>
      <div class="imgSkill">

        <img src="./../../assets/csharp-badge.png" class="tech-badge-much-bigger" />
        <img src="./../../assets/typescript-badge.png" class="tech-badge" />
        <img src="./../../assets/js.png" class="tech-badge" />
        <img src="./../../assets/css-badge.png" class="tech-badge" />
        <img src="./../../assets/HTML5_badge.png" class="tech-badge" />
        <img src="./../../assets/boostrap-logo.png" class="tech-badge-bigger" />
        <img src="./../../assets/sass-badge.png" class="tech-badge" />
        <img src="./../../assets/git-ext-logo.png" class="tech-badge-little-smaller"/>
        <img src="./../../assets/angular-badge.png" class="tech-badge-bigger" />

      </div>
    </div>
  </div>

  <div class="row skillRow">
      <!-- <div class="col line">
        <h2 class="technologiesH2"><fa-icon class="iconSkill" [icon]="faCogs"></fa-icon>Skills:</h2>
        <div>
          <div class="col skillCol">
            <li class="skillLi">TEAM PLAYER</li> 
            <li class="skillLi">DRIVEN</li>
            <li class="skillLi">HOTINATED</li>
            <li class="skillLi">AMBITIOUS</li>
            <li class="skillLi">COLLABORATION</li>
          </div>
          <div class="col skillCol">
            <li class="skillLi">ORAL COMMUNICATION</li> 
            <li class="skillLi">CREATIVITY</li>
            <li class="skillLi">PERSEVERANCE</li>
            <li class="skillLi">RESOURCEFULNESS</li>
            <li class="skillLi">CREATIVE</li>
          </div>
        </div>
      </div> -->

      <div class="col line">
        <h2 class="titleSkills"><fa-icon class="iconSkill" [icon]="faCogs"></fa-icon>Skills:</h2>
        <ul>
          <li class="textSkill">TEAM PLAYER</li>
          <div class="bar2">
            <div class="skills2 oneC"></div>
          </div>
          <li class="textSkill">DRIVEN</li>
          <div class="bar2">
            <div class="skills2 twoC"></div>
          </div>
          <li class="textSkill">HOTINATED</li>
          <div class="bar2">
            <div class="skills2 oneC"></div>
          </div>
          <li class="textSkill">AMBITIOUS</li>
          <div class="bar2">
            <div class="skills2 twoC"></div>
          </div>
          <li class="textSkill">COLLABORATION</li>
          <div class="bar2">
            <div class="skills2 oneC"></div>
          </div>
          <li class="textSkill">ORAL COMMUNICATION</li>
          <div class="bar2">
            <div class="skills2 twoC"></div>
          </div>
          <li class="textSkill">CREATIVITY</li>
          <div class="bar2">
            <div class="skills2 oneC"></div>
          </div>
          <li class="textSkill">PERSEVERANCE</li>
          <div class="bar2">
            <div class="skills2 twoC"></div>
          </div>
          <li class="textSkill">RESOURCEFULNESS</li>
          <div class="bar2">
            <div class="skills2 oneC"></div>
          </div>
          <li class="textSkill">CREATIVE</li>
          <div class="bar2">
            <div class="skills2 twoC"></div>
          </div>
        </ul>
      </div>
    </div>


  <div class="row secondRow">
    <div class="col line">
      <h2>IT skills:</h2>
      <ul>
        <li>Html</li>
        <div class="bar">
          <div class="skills html"></div>
        </div>
        <li>Css</li>
        <div class="bar">
          <div class="skills css"></div>
        </div>
        <li>Scss</li>
        <div class="bar">
          <div class="skills scss"></div>
        </div>
        <li>TypeScript</li>
        <div class="bar">
          <div class="skills typeScript"></div>
        </div>
        <li>Angular</li>
        <div class="bar">
          <div class="skills angular"></div>
        </div>
        <li>JavaScript</li>
        <div class="bar">
          <div class="skills javaScript"></div>
        </div>
        <li>C#</li>
        <div class="bar">
          <div class="skills c"></div>
        </div>
      </ul>
    </div>
    <div class="col line">
      <h2>Additional abilities:</h2>
      <ul class="ulAbilities">
        <li class="abilities"><fa-icon class="icon" [icon]="faUtensils"></fa-icon> Nutrition consultant</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faDumbbell"></fa-icon> Personal trainer with fitness elements</li> 
        <li class="abilities"><fa-icon class="icon" [icon]="faStopwatch"></fa-icon> Biathlon referee</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faMeteor"></fa-icon> Shooting</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faMountain"></fa-icon> Industrial mountaineering</li>
      </ul>
    </div>
  </div>

  <div class="row  thirdRow">
    <div class="col line">
      <h2 class="achievements">Achievements: </h2>
      <div>
        <ul class="achievementsUl">
          <li class="achievementsLi">Having 1st sports class for several seasons</li>
          <li class="achievementsLi">Representing the country at international competitions</li>
          <li class="achievementsLi">Multiple winning top places at national and international competitions</li>
        </ul>
      </div>
    </div>
    <div class="col line">
      <h2 class="interests">Interests: </h2>
      <div>
        <div class="col zero">
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faSkiingNordic"></fa-icon> Cross-country skiing</li> 
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faBiking"></fa-icon> Cycling</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faRunning"></fa-icon> Running</li>   
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faSkiing"></fa-icon> Skiing</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faDrumstickBite"></fa-icon> Food</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faBook"></fa-icon> Reading</li> 
        </div>
        <div class="col zero">
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faTools"></fa-icon> DIY</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faMusic"></fa-icon> Music</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faCar"></fa-icon> Automotive</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faTree"></fa-icon> The art of survival</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faMicrochip"></fa-icon> Technology</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faGamepad"></fa-icon> Games</li>
        </div>
      </div>
    </div>

</div>
