<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->


<div class="container">

  <h2>Kacper Bergański - Frontend Angular developer</h2>
  <br>
  <div class="row firstRow">
    <div class="col">
      <img class="imgProfil" src=".\..\..\assets\ziemniak.jpg" alt="Card image cap">
    </div>
    <div class="col">
      <h2>Short description</h2>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Quidem non quibusdam, possimus placeat sed quasi quos reiciendis! Laudantium, maxime modi q
          uod necessitatibus saepe recusandae? Sit fugit aliquam dolorum optio dolor!
        </p>
      </div>
    </div>
  </div>

  <div class="row secondRow">
    <div class="col line">
      <h2>IT skills:</h2>
      <ul>
        <li>Html</li>
        <div class="bar">
          <div class="skills html"></div>
        </div>
        <li>Css</li>
        <div class="bar">
          <div class="skills css"></div>
        </div>
        <li>Scss</li>
        <div class="bar">
          <div class="skills scss"></div>
        </div>
        <li>TypeScript</li>
        <div class="bar">
          <div class="skills typeScript"></div>
        </div>
        <li>Angular</li>
        <div class="bar">
          <div class="skills angular"></div>
        </div>
        <li>JavaScript</li>
        <div class="bar">
          <div class="skills javaScript"></div>
        </div>
        <li>C#</li>
        <div class="bar">
          <div class="skills c"></div>
        </div>
      </ul>
    </div>
    <div class="col line">
      <h2>Additional abilities:</h2>
      <ul class="ulAbilities">
        <li class="abilities"><fa-icon class="icon" [icon]="faUtensils"></fa-icon> Nutrition consultant</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faDumbbell"></fa-icon> Personal trainer with fitness elements</li> 
        <li class="abilities"><fa-icon class="icon" [icon]="faStopwatch"></fa-icon> Biathlon referee</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faMeteor"></fa-icon> Shooting</li>
        <li class="abilities"><fa-icon class="icon" [icon]="faMountain"></fa-icon> Industrial mountaineering</li>
      </ul>
    </div>
  </div>

  <div class="row  thirdRow">
    <div class="col line">
      <h2 class="achievements">Achievements:</h2>
      <div>
        <ul class="achievementsUl">
          <li class="achievementsLi">Having 1st sports class for several seasons</li>
          <li class="achievementsLi">Representing the country at international competitions</li>
          <li class="achievementsLi">Multiple winning top places at national and international competitions</li>
        </ul>
      </div>
    </div>
    <div class="col line">
      <h2 class="interests">Interests:</h2>
      <div>
        <div class="col zero">
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faSkiingNordic"></fa-icon> Cross-country skiing</li> 
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faBiking"></fa-icon> Cycling</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faRunning"></fa-icon> Running</li>   
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faSkiing"></fa-icon> Skiing</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faDrumstickBite"></fa-icon> Food</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faBook"></fa-icon> Reading</li> 
        </div>
        <div class="col zero">
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faTools"></fa-icon> DIY</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faMusic"></fa-icon> Music (Rap)</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faCar"></fa-icon> Automotive</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faTree"></fa-icon> The art of survival</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faMicrochip"></fa-icon> Technology</li>  
          <li class="interestsLi"><fa-icon class="icon1" [icon]="faGamepad"></fa-icon> Games</li>
        </div>
      </div>
    </div>

</div>
