.bntAdd{
    position: sticky;
    background-color: rgb(71, 194, 71);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: .4%;
    transition: .3s color, .3s transform ;
    outline: none;
    left: 100%;
    margin-bottom: .2rem;
}

.p-for-filter{
    font-size: .9rem;
    display: inline;
    color: rgb(48, 48, 48);
    border-bottom: .1rem solid black;
}

.filter-icon{
    color: white;
    position: relative;
    left: .5rem;
    font-size: .9rem;
    transition: .5s color, .3s transform;
    padding: .1% .8%;
    background: transparent;
    border: none;
    outline: none;
}

.filter-icon:hover{
    color: rgb(255, 0, 221);
    transform: scale(1.1);
    cursor: pointer;
}

.input-for-filter{
    border-radius: .2rem;
    margin: none;
    border: .1rem solid black;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: .6rem;
    height: 1.5rem;
    font-size: .9rem;
}

.input-for-filter:focus{
    background-color: white;
}

.colum-city-filter{
    width: 10%;
}

.form-control{
    position: relative;
    display: inline;
    text-align: center;
    font-size: .9rem;
    top: 2rem;
    height: 1.5rem;
}

.filterrrrr{
    color: white;
    position: relative;
    left: 10rem;
    top: .5rem;
    display: inline;
}

.element-ceneter{
    position: relative;
    left: 3rem;
    bottom: 1rem;
}

#input-for-date-valu{
    width: 250%;
}

.days-of-last-update-p{
    display: inline;
    margin-left: .3rem;
    margin-right: .3rem;
}

.age-filter{
    background-color: white;
    margin-bottom: 1rem;
}


.colum-age-filter{
    width: 20%;
}
.p-for-filter{
    font-size: .9rem;
    display: inline;
    color: rgb(48, 48, 48);
    border-bottom: .1rem solid black;
}


.status-filter{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: .3rem;
    outline: none;
    margin-top: .6rem;
    margin-bottom: 1rem;
}

.status-filter:hover{
    cursor: pointer;
    color: #000000;
}

.option-status-filter{
    color: black;
}

#icon-check-price{
    color: white;
    position: relative;
    left: .5rem;
    font-size: .9rem;
    transition: .5s color, .3s transform;
    padding: .1% .8%;
    background: transparent;
    border: none;
    outline: none;
}

.button-to-submit-filter{
    margin-left: 1.2rem;
    font-size: 1rem;
    width: 1rem;
    outline: none;
    border: none;
    background: transparent;
    transition: .3s color, .3s transform ;
}

.button-to-submit-filter:hover{
    color: rgb(14, 184, 8);
    transform: scale(.9);
}


.columnBnt, .column-actions{
    text-align: center;
}

.age-filter{
    width: 20%;
    display: inline;
    text-align: center;
    text-decoration: transparent;
    border: none;
    border-bottom: .1rem solid black;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: .8rem;
    transition: .3s font-size, border .2s;
}

.age-filter:focus{
    background-color: white;
    outline: none;
    font-size: 1.1rem;
    border: none;
}

.div-age-filter{
    text-align: center;
    position: relative;
    right: 7rem;
    background-color: white;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.sort-button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.bntAdd:hover{
    color: rgb(255, 255, 255);
    transform: scale(.9);
}

.bntDelete{
    position: relative;
    color: red;
    padding: .1% .8%;
    font-size: 140%;
    background: transparent;
    border: none;
    transition: .5s color, .3s transform;
    outline: none;
    left: 4rem;
}

.bntDelete:hover{
    color: red;
    transform: scale(1.1);
}

.inputNewCustomer{
    position: relative;
    left: 3%;
    border: 2px dashed black;
}

input{
    display: block;
    margin-bottom: .4rem;
}

input:focus{
    outline: none;
    background-color: rgb(255, 248, 151);
}

input:focus:hover{
    transition: .5s background-color;
}

ol{
    list-style: none;
}

.customerList{
    display: inline-block;
    padding: 2% 1%;
}

.customerNumber{
    display: inline-block;
    margin-right: .8%;
}

.newList{
    background-color: #1476ff;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px darken(#1476ff, 10%);
    border: solid 2px darken(#1476ff, 10%);
    padding: .8% 5%;
    display: inline;
    position: relative;
    left: 3.3%;
}

.emptyList{
    border-radius: .3rem;
    position: absolute;
    bottom: 15rem;
    width: 98%;
    background-color: rgb(175, 25, 25);
    color: white;
    text-align: center;
    margin-bottom: 1%;
    padding: 1.2%;
}

.table-striped{
    border: solid .2rem black;
}

.columnBnt{
    position: relative;
}

.bntShow{
    position: relative;
    padding: .3rem ;
    right: 1.8rem;
    color: black;
    border: none;
    background: transparent;
    font-size: 1.6rem;
    transition: .3s transform;
}

.bntShow:focus{
    outline: none;
}

.bntShow:hover{
    transform: scale(1.2)
}

.chosenUser{
    position: relative;
    top: 1rem;
}

.infoUser {
  position: relative;
  display: inline;
  bottom: 1rem;
}

.bntEdit{
    font-size: 1.6rem;
    position: relative;
    background: transparent;
    border: none;
    right: 1.7rem;
    padding: .1rem .5rem ;
    transition: .3s transform;
}


.bntEdit:hover{
    transform: scale(1.2)
}

.bntEdit:focus{
    outline: none;
}

.tel{
    display: none;
}


@media screen and (max-width: 600px) {

    .tel{
        display: inline;
        font-weight: bold;
        margin-right: .6rem;
    }

    table thead {
        display: none;
      }

    table td {
      display: block;
    }
    
    table td::before {
      content: attr(label);
      font-weight: bold;
      width: 120px;
      min-width: 120px;
    }

    .bntDelete{
        left: 4rem;
    }
  }