<!-- First version -->
<!-- <input class="inputNewCustomer" type="text" placeholder="Add Customer" onfocus="this.placeholder=' '" onblur="this.placeholder=' Add Customer '" #newCustomer> -->
<!-- <button class="btnAdd" (click)="addCustomer(newCustomer.value)"><i class="fa fa-plus"></i></button> -->


<!-- <div *ngIf="!!customerList && customerList.length > 0; else emptyList">   
    <ol *ngFor="let customer of customerList; let i = index">
            <p class="customerNumber">{{i}}</p><li class="customerList">{{customer}}</li>
            <button class="bntDelete" (click)="deleteCustomer(customer)"><i class="fa fa-trash"></i></button>
    </ol>
</div> -->

<!-- <div *ngIf="!!customerObjectList && customerObjectList.length > 0; else emptyList">
    <p class="newList">New List : </p>
    <ol *ngFor="let customer of customerObjectList">
        <li class="customerList">{{customer.name}} {{customer.lastName}}, age: {{customer.age}}</li>
        <button class="bntDelete" (click)="deleteNewListCustomer(customer)">
        <i class="fa fa-trash"></i></button>
    </ol>
</div> -->

<div *ngIf="!!customerObjectList && customerObjectList.length > 0; else emptyList">

    <div class="add">
        <button class="bntAdd" [routerLink]='["/clients/add"]'><i class="fa fa-plus-circle"></i> Add Customer</button>
    </div>

    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Full name</th>
        <th scope="col">City</th>
        <th scope="col">Sex F/M</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerObjectList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td class="columnUser">{{ customer.id}}</td>
        <td class="columnUser">{{ customer.name}} {{customer.lastName}}</td>
        <td class="columnUser">{{ customer.address.city}}</td>
        <td class="columnUser">{{ customer.sex}}</td>
        <td class="columnBnt">
            <button class="bntDelete" (click)="deleteNewListCustomer(customer)">
                <i class="fa fa-trash"></i></button>
            <button class="bntEdit" [routerLink]='["/clients/edit/" + customer.id]'>
                <i class="fa fa-edit"></i></button>
            <button class="bntShow" [routerLink]='["/clients/details/" + customer.id]'>
                <i class="fa fa-info-circle"></i></button>
        </td>
    </tr>
    </tbody>
    </table>
</div>



<!-- 
<div *ngIf="isDetailsClicked && chosenCustomer != null">
    <app-client-details (editedCustomerEventEmitter)="onCustomerEdit($event)"></app-client-details>
</div> -->

<!-- <button type="button" (click)="showSuccess()">Show Success</button>
<button type="button" (click)="showError()">Show Error</button>
<button type="button" (click)="showWarning()">Show Warning</button>
<button type="button" (click)="showInfo()">Show Info</button> -->


<ng-template #emptyList>
    <div class="emptyList">
        INFO! The user list is empty.
    </div>
</ng-template>