<h1 class="addCustomer">New customer</h1>
       
    <div *ngIf="customerExist; else customerNotFound">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="ngFormHere">
            <label>Name :</label>
            <br>
            <input class="inputNgForm"
            type="text"
            placeholder="Your name.."
            formControlName="name">
        
            <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['name'].errors.required">
                    Name is required <i class="fa fa-exclamation"></i>
                </div>
                <div *ngIf="form.controls['name'].errors.minlength">
                    Name is too short <i class="fa fa-exclamation"></i>
                </div>
                <div *ngIf="form.controls['name'].errors.maxlength">
                    Name is too long <i class="fa fa-exclamation"></i>
               </div>
            </div>
        </div>
        <div>
            <div class="ngFormHere">
                    <label>Last Name :</label>
                    <br>
                <input class="inputNgForm"
                type="text"
                placeholder="Your last name.."
                formControlName="lastName">      
                
                <div *ngIf="required('lastName')" class="alert alert-danger">
                    Last Name is required <i class="fa fa-exclamation"></i>
                </div>
                <div *ngIf="minLength('lastName')" class="alert alert-danger">
                    Last Name has to be min 3 char length <i class="fa fa-exclamation"></i>
                </div>
                <div *ngIf="maxLength('lastName')" class="alert alert-danger">
                    Last Name has to be max 30 char length <i class="fa fa-exclamation"></i>
                </div>
            </div>
            <div formGroupName="address">
                <div  class="ngFormHere">
                    <label>Country :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your country.."
                    formControlName="country">
                    <div *ngIf="required('address.country')" class="alert alert-danger">
                        Country is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('address.country')" class="alert alert-danger">
                        Country has to be min 3 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('address.country')" class="alert alert-danger">
                        Country has to be max 30 char length <i class="fa fa-exclamation"></i>
                    </div>
                    
                </div>

                <div  class="ngFormHere">
                    <label>City :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your city.."
                    formControlName="city">
                    <div *ngIf="required('address.city')" class="alert alert-danger">
                        City is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('address.city')" class="alert alert-danger">
                        City has to be min 3 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('address.city')" class="alert alert-danger">
                        City has to be max 30 char length <i class="fa fa-exclamation"></i>
                    </div>

                </div>
                <div  class="ngFormHere">
                    <label>Zip Code :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your zip code.."
                    formControlName="zipCode">
                    <div *ngIf="required('address.zipCode')" class="alert alert-danger">
                        Zip Code is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('address.zipCode')" class="alert alert-danger">
                        Zip Code has to be min 4 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('address.zipCode')" class="alert alert-danger">
                        Zip Code has to be max 30 char length <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div  class="ngFormHere">
                    <label>Street :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your street.."
                    formControlName="street">
                    <div *ngIf="required('address.street')" class="alert alert-danger">
                        Street is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('address.street')" class="alert alert-danger">
                        Street has to be min 3 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('address.street')" class="alert alert-danger">
                        Street has to be max 40 char length <i class="fa fa-exclamation"></i>
                    </div>
                </div>
            </div>
                <div  class="ngFormHere">
                    <label>Gender :</label>
                    <br>
                    <select formControlName="gender" class="inputNgForm"  id="gender" name="gender" >
                        <option class="optionGender" value="M">Male</option>
                        <option class="optionGender" value="F">Female</option>
                    </select>

                    <div *ngIf="required('gender.name')" class="alert alert-danger">
                        Gender is required <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div  class="ngFormHere">
                    <label>Phone number :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your phone number.."
                    formControlName="phoneNumber">
                    <div *ngIf="required('phoneNumber')" class="alert alert-danger">
                        Phone Number is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('phoneNumber')" class="alert alert-danger">
                        Phone Number has to be min 9 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('phoneNumber')" class="alert alert-danger">
                        Phone Number has to be max 15 char length <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div  class="ngFormHere">
                    <label>Email :</label>
                    <br>
                    <input class="inputNgForm"
                    type="text"
                    placeholder="Your email.."
                    formControlName="mail">
                    <div *ngIf="required('mail')" class="alert alert-danger">
                        Email is required <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="minLength('mail')" class="alert alert-danger">
                        Email has to be min 5 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="maxLength('mail')" class="alert alert-danger">
                        Email has to be max 35 char length <i class="fa fa-exclamation"></i>
                    </div>
                    <div *ngIf="pattern('mail')" class="alert alert-danger"> 		   
                        Email is invalid <i class="fa fa-exclamation"></i>
                    </div> 
                </div>
                <div>
                    <br>
                    <button type="submit" class="saveNCustomer" 
                        [disabled] ="form.invalid"
                    > 
                        Save customer
                    </button>
                </div>

            <pre>{{form.value | json }}</pre>
        </div>
    </form>
</div>

<ng-template #customerNotFound>
    <div class="emptyList">
        INFO! The user list is empty.
    </div>
</ng-template>


    

