<form class="addContainer" [formGroup]="form" (ngSubmit)="saveOrders()">
  <h1>Add Order</h1>

  <button 
    class="buttonClose" type="submit" 
    ><fa-icon class="icon" [icon]="faTimes"></fa-icon>
  </button>

   <div class="addDiv">
      <label class="label price-label">Price :</label>
        <br>
        <input 
          class="inputNgForm"
          type="number"
          formControlName="price"
          placeholder="Enter the price"
          min="0"
          step="1" 
          data-number-to-fixed="2"
          data-number-stepfactor="100"
          #price >

          <div class="alert alert-danger" *ngIf="form.checkIsRequired('price')">
            Price is required <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
          </div>
    </div>

        <div class="addDiv">
          <label class="label">Ordered By Customer Id :</label>
            <br>
            <select 
              class="inputNgForm"
              type="text"
              formControlName="orderedByCustomerId"
              #orderedName>

              <option *ngFor="let client of clientsList; index as i" [value]="client.id">
                {{client.name}} {{client.lastName}}
              </option>

            </select>

          </div>
          <br>

  <button 
    class="buttonS" type="submit" 
    (click)= showSuccess()
  > Save <fa-icon class="icon" [icon]="faSave"></fa-icon>
  </button>

  <button
   class="buttonC" 
   type="button" 
   (click)="form.reset(); clean()"
   >Clear <fa-icon class="icon" [icon]="faTimes"></fa-icon>
  </button>
 
  <!-- <pre>{{form.value | json }}</pre> -->

</form>