<h1>Add Order</h1>

<form class="addContainer" [formGroup]="form" (ngSubmit)="saveOrders()">

   <div class="addDiv">
      <label class="label">Price :</label>
        <br>
        <input 
          class="inputNgForm"
          type="number"
          formControlName="price"
          placeholder="Enter the price"
          min="0"
          step="1" 
          data-number-to-fixed="2"
          data-number-stepfactor="100" >
      
        <div *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls['price'].errors.required">
            Price is required <i class="fa fa-exclamation"></i>
          </div>
          <div *ngIf="form.controls['price'].errors.pattern">
            Price is required <i class="fa fa-exclamation"></i>
          </div>
          </div>
      </div>

        <div class="addDiv">
          <label class="label">Ordered By Customer Id :</label>
            <br>
            <select 
              class="inputNgForm"
              type="text"
              formControlName="orderedByCustomerId">

              <option *ngFor="let client of clientsList; index as i" [value]="client.id">
                {{client.name}} {{client.lastName}}
              </option>

            </select>

          </div>
          <br>

  <button 
    class="buttonS" type="submit" 
    (click)= showSuccess()
  > Save <fa-icon class="icon" [icon]="faSave"></fa-icon>
  </button>

  <button
   class="buttonC" 
   type="button" 
   (click)="form.reset(); clean()"
   >Clear <fa-icon class="icon" [icon]="faTimes"></fa-icon>
  </button>
 
  <!-- <pre>{{form.value | json }}</pre> -->

</form>