h1{
    position: relative;
    font-size: 2rem;
    bottom: 1rem;
}

.modal-header{
    height: 3rem;
    background-color: #343A40 !important;
}

.modal-body{
    height: 12rem;
    background-color: white;
    color: black;
}

.modal-footer{
    background-color: white;
    height: 3rem;
}

.addDiv{
    margin-top: .4rem;
    position: relative;
    bottom: 1.2rem;
}

.modal-content{
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.price-label{
    position: relative;
    left: 1rem;
}

.addContainer{
    color: white;
    background-color: #343A40 !important;
    text-align: center;
    border: .1rem solid black;  
}

.addDiv{
    margin-top: 1rem;
}

button{
    color: white;
    margin-right: 1rem;
    border: none;
    font-size: 1.3rem;
}

.buttonClear, .buttonSave{
    color: rgb(133, 133, 133);
    font-size: 1.3rem;
    position: relative;
    background: transparent;
    border: none;
    left: 1rem;
    bottom: .5rem;
    padding: .1rem .5rem ;
    transition: .3s transform;
}

.buttonClose{
    position: relative;
    float: right;
    bottom: 4rem;
    left: 1rem;
    background: transparent;
    transition: .3s transform;
    border: none;
}

.buttonClear:hover{
    transform: scale(1.2);
    color: rgb(253, 77, 77);
}

.buttonClose:hover{
    transform: scale(1.2);
    color: rgb(253, 77, 77);
}

.buttonSave:hover{
    transform: scale(1.2);
    color: rgb(0, 116, 0);
}


.inputNgForm{
    text-align: center;
    height: 1.7rem;
    width: 60%;
    font-size: 1.1rem;
    border: .1em solid #070707;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
}

label{
    font-size: 1.4rem;
}

.alert-danger{
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0;
    position: relative;
    width: 65%;
    height: 1.7rem;
}

@media only screen and (min-width: 1270px) and (max-width: 1610px) {
    label{
        font-size: 1.5rem;
    }

    button{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 1270px) {
    h1{
        font-size: 2rem;
    }

    button{
        font-size: 1.1rem;
    }

    label{
        font-size: 1.1rem;
    }

    .buttonClose{
        left: .5rem;
        margin-top: .2rem;
    }

    .modal-content{
        width: 75%;
    }
}


@media only screen and (min-width: 100px) and (max-width: 550px) {
    .inputNgForm{
        font-size: 1rem;
        height: 2rem;
    }

    h1{
        font-size: 2rem;
    }

    .buttonClose{
        left: 1.5rem;
        margin-top: 1rem;
    }

    button{
        font-size: 1.1rem;
    }

    label{
        font-size: 1.1rem;
    }
    .buttonC, .buttonS{
        font-size: 1.1rem;
    }

    .modal-content{
        width: 90%;
    }
}