h1{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
}

.addContainer{
    text-align: center;
    font-weight: bold;
}

.addDiv{
    margin-bottom: 1rem;
}

button{
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
    font-size: 1.7rem;
}

.buttonC, .buttonS{
    font-size: 1.9rem;
    position: relative;
    background: transparent;
    border: none;
    left: .5rem;
    padding: .1rem .5rem ;
    transition: .3s transform;
}

.buttonC:hover{
    transform: scale(1.2);
    color: rgb(253, 77, 77);
}

.buttonS:hover{
    transform: scale(1.2);
    color: rgb(0, 116, 0);
    
}

.inputNgForm{
    text-align: center;
    height: 3.4rem;
    width: 30rem;
    font-size: 1.5rem;
    border: .1em solid #070707;
    border-radius: .5rem;
    background-color: rgb(255, 251, 245);
}

.label{
    font-size: 1.8rem;
}


@media only screen and (min-width: 100px) and (max-width: 550px) {
    .inputNgForm{
        width: 16rem;
        font-size: 1rem;
        height: 2.5rem;
    }

    h1{
        font-size: 2rem;
    }

    .label{
        font-size: 1.2rem;
    }
    .buttonC, .buttonS{
        font-size: 1.7rem;
    }
}