.emptyList{
    font-size: 4rem;
    background-color: rgb(61, 120, 187);
    color: white;
    text-align: center;
    margin-bottom: 1%;
    padding: 1.2%;
    transition: transform .2s;
    text-align: center;
}

.emptyList:hover{
    transform: scale(1.1);
}