
<footer>
    <div class="cointeiner">
        <div class="row header-by-row"><p class="header-by">Copyright by Kacper Bergański & Ais Software</p></div>

        <div class="row">
            <div class="col-md-6 case">
                <p class="contact">
                    <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
                     mail:<a href="mailto: kacper.berganski@onet.pl">kacper.berganski@onet.pl</a>
                    <br> 
                    <fa-icon class="icon" [icon]="faPhone"></fa-icon> tel: <a href="tel:+48720860430">720-860-430</a></p>
            </div>

            <div class="col-md-6 case-media">
                <div class="socialMedia">
                    <p class="media">Follow me on social media:</p>
                    <a class="media-icons" href="https://www.facebook.com/kacper.berganski/"><fa-icon class="icon" [icon]="faFacebookSquare"></fa-icon></a>
                    <a class="media-icons" href="https://adres strony"><fa-icon class="icon" [icon]="faLinkedin"></fa-icon></a>
                    <a class="media-icons" href="https://github.com/Bergan1"><fa-icon class="icon" [icon]="faGithubSquare"></fa-icon></a>  
                </div>    
            </div>
        </div>
    </div>    
</footer>




<!-- Draft container with page icons -->
<!-- <div class="col-md-6 case">
    <div class="col-md-offset-3 socialM"><p class="media">Follow me on social media:</p></div>
    <div class="col-md-offset-3 socialM">
        <a class="media-icons" href="https://www.facebook.com/kacper.berganski/"><i class="fa fa-facebook-f"></i></a>
        <a class="media-icons" href="https://adres strony"><i class="fa fa-linkedin"></i></a>
        <a class="media-icons" href="https://github.com/Bergan1"><i class="fa fa-github"></i></a>
    </div> -->