
<footer>
    <div class="cointeiner">
        <div class="row header-by-row"><p class="header-by">Copyright by Kacper Bergański & Ais Software</p></div>

        <div class="row">
            <div class="col-md-6">
                <p class="contact"><i class="fa fa-envelope"></i> mail:
                    <a href="mailto: kacper.berganski@onet.pl">kacper.berganski@onet.pl</a>
                    <br> 
                    <i class="fa fa-mobile"></i> tel: <a href="tel:+48720860430">720-860-430</a></p>
            </div>

            <div class="col-md-6">
                <div class="col-md-offset-3"><p class="media">Follow me on social media:</p></div>
                <div class="col-md-offset-3">
                    <a class="logo" href="https://www.facebook.com/kacper.berganski/"><i class="fa fa-facebook-square"></i></a>
                    <a class="logo" href="https://adres strony"><i class="fa fa-linkedin"></i></a>
                    <a class="logo" href="https://github.com/Bergan1"><i class="fa fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </div>    
</footer>
