
<footer>
    <div class="cointeiner">
        <div class="row header-by-row"><p class="header-by">Copyright by Kacper Bergański & Ais Software</p></div>

        <div class="row">
            <div class="col-md-6 case">
                <p class="contact"><i class="fa fa-envelope"></i> mail:
                    <a href="mailto: kacper.berganski@onet.pl">kacper.berganski@onet.pl</a>
                    <br> 
                    <i class="fa fa-mobile"></i> tel: <a href="tel:+48720860430">720-860-430</a></p>
            </div>

            <div class="col-md-6 case-media">
                <p class="media">Follow me on social media:</p>
                <a class="media-icons" href="https://www.facebook.com/kacper.berganski/"><i class="fa fa-facebook-f"></i></a>
                <a class="media-icons" href="https://adres strony"><i class="fa fa-linkedin"></i></a>
                <a class="media-icons" href="https://github.com/Bergan1"><i class="fa fa-github"></i></a>  
            </div>
        </div>
    </div>    
</footer>




<!-- <div class="col-md-6 case">
    <div class="col-md-offset-3 socialM"><p class="media">Follow me on social media:</p></div>
    <div class="col-md-offset-3 socialM">
        <a class="media-icons" href="https://www.facebook.com/kacper.berganski/"><i class="fa fa-facebook-f"></i></a>
        <a class="media-icons" href="https://adres strony"><i class="fa fa-linkedin"></i></a>
        <a class="media-icons" href="https://github.com/Bergan1"><i class="fa fa-github"></i></a>
    </div> -->