.cointeiner{
    color: white;
    background: rgb(51,174,233);
    height: 9rem;
    width: 100%;
}

.header-by{
    position: absolute;
    font-size: 1.7rem;
    left: 0;
    right: 0;
    text-align: center;
}

.case{
    position: relative;
    font-size: 1.2rem;
    float: left;
    top: 2rem;
}

.case-media{
    position: relative;
    font-size: 1.2rem;
    top: 2rem;
    float: right;
}

.media{
    font-size: 1.2rem;
}

.media-icons{
    position: relative;
    font-size: 2rem;
    padding: 10px;
    left: 3rem;
    bottom: 1rem;
}

.socialMedia{
    position: relative;
    font-size: 1rem;
    float: right;
    top: 2rem;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #000;
    transition: color .5s;
}

.contact{
    position: relative;
    left: 5%;
    top: 40%;
}


//TABLET VERSION

@media only screen and (min-width: 365px) and (max-width: 770px) {
    .cointeiner{
        color: white;
        background: rgb(51,174,233);
        height: 7rem;
    }
    
    .header-by{
        position: absolute;
        font-size: 1rem;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    .case{
        position: relative;
        font-size: .8rem;
        top: 2.5rem;
    }
    
    .media{
        visibility: hidden;
    }
    
    .media-icons{
        position: relative;
        font-size: 1.5rem;
        padding: 10px;
        text-decoration: none;
        color: white;
        bottom: 6.5rem;
        margin-right: .5rem;
    }

    .case-media{
    position: relative;
    left: 4rem;
    }
    
    .media-icons:hover{
        color: #000;
        transition: color .5s;
    }

};

//PHONE VERSION

@media only screen and (min-width: 150px) and (max-width: 380px) {

    .cointeiner{
        color: white;
        background: rgb(51,174,233);
        height: 10rem;
    }

    .header-by{
        font-size: .8rem;
    }
    
    .case{
        font-size: .8rem;
        left: 2rem;
    }
    
    .media-icons{
        position: relative;
        font-size: 1.4rem;
        padding: 10px;
        bottom: 3rem;
        margin-right: 1rem;
    }

    .media{
        visibility: hidden;
    }    


}
