<div class="case-customer">

  <div class="name-case">
    <h1>Info customer: {{copyOfCustomer.name}} {{copyOfCustomer.lastName}}</h1>
    <label>Name : {{copyOfCustomer.name}}</label>
    <label>Last Name : {{copyOfCustomer.lastName}}</label>
    <label>Gender : {{copyOfCustomer.gender === 0 ? "Male" : "Female"}}</label>
    <label>Phone Number: <a href="tel:{{copyOfCustomer.phoneNumber}}">{{copyOfCustomer.phoneNumber}}</a></label>
    <label>Email: <a href="mailto: {{copyOfCustomer.email}}">{{copyOfCustomer.email}}</a></label>
  </div>
  <div class="address-case">
    <h1>Address:</h1>
    <label>Country: {{copyOfCustomer.address?.country}}</label>
    <label>City: {{copyOfCustomer.address?.city}}</label>
    <label>Zip Code: {{copyOfCustomer.address?.zipCode}}</label>
    <label class="street-case">Street: {{copyOfCustomer.address?.street}}</label>
  </div>

</div>