// .infoUser{
//     position: relative;
//     bottom: .8rem;
//     font-size: 2rem;
// }

// input, select,button{
//     position: relative;
//     bottom: 3.4rem;
//     margin-bottom: .8rem;
// }

// .saveGender{
//     position: relative;
//     margin-left: 1.3rem;
// }

// button{
//     width: 4rem;
//     margin-left: 1rem;
//     background-color: #4CAF50;
//     color: white;
//     border-radius: .3rem;
//     transition: background-color .3s;
// }

// button:hover{
//     color:  #4CAF50;
//     background-color:white;
// }

// .chosenUser{
//     position: relative;
//     top: .5rem;
// }

// new profil customer style

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(128, 128, 128);
    transition: color .2s;
    border-bottom: .1rem solid rgb(0, 0, 0);
}

img{
    width: 12rem;
    height: 13rem;
}

li{
    border: none;
    transition: transform .3s ;
}
li:hover{
    color: chocolate;
    transform: scale(1.2);
}

.colNAV{
    border: none;
}

td{
    border-top: .1rem solid black;
}
