
<!-- <h5 class="card-title">Address:</h5>
<li class="list-group-item">Country: {{copyOfCustomer.address.country}}</li>
<li class="list-group-item">City: {{copyOfCustomer.address.city}}</li>
<li class="list-group-item">Zip Code: {{copyOfCustomer.address.zipCode}}</li>
<li class="list-group-item">Street: {{copyOfCustomer.address.street}}</li> -->

<!-- <table class="table">
    <thead>
    <div class="clientsDetails">
    <div class="card infoCard" style="width: 22rem;">
        <img class="card-img-top" src=".\..\..\assets\portret.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Info customer</h5>
            <p class="card-text">{{copyOfCustomer.name}} {{copyOfCustomer.lastName}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{copyOfCustomer.name}}</li>
            <li class="list-group-item">Last Name: {{copyOfCustomer.lastName}}</li>
            <li class="list-group-item">Gender: {{copyOfCustomer.gender}}</li>
        </ul>
        <div class="card-body">
            <div class="phoneNumber contactInfo">Phone Number: <a href="tel:+48720860430">{{copyOfCustomer.phoneNumber}}</a></div>
            <br>
            <div class="email contactInfo">Email:  <a href="mailto: kacper.berganski@onet.pl">{{copyOfCustomer.email}}</a></div>
        </div>
        <h5>Address</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Country: {{copyOfCustomer.address.country}}</li>
            <li class="list-group-item">City: {{copyOfCustomer.address.city}}</li>
            <li class="list-group-item">Zip Code: {{copyOfCustomer.address.zipCode}}</li>
            <li class="list-group-item">Street: {{copyOfCustomer.address.street}}</li>
        </ul>
    </div>
    </div>
    </thead>
</table> -->
<!-- <div>
    <div class="card addressCard" style="width: 22rem;">
        <h5>Address:</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Country: {{copyOfCustomer.address.country}}</li>
            <li class="list-group-item">City: {{copyOfCustomer.address.city}}</li>
            <li class="list-group-item">Zip Code: {{copyOfCustomer.address.zipCode}}</li>
            <li class="list-group-item">Street: {{copyOfCustomer.address.street}}</li>
        </ul>
    </div>

</div> -->

<table class="table">
    <thead>
      <tr>
        <th class="colNAV" scope="col"></th>
        <th class="colNAV" scope="col"><h5>Info customer: {{copyOfCustomer.name}} {{copyOfCustomer.lastName}}</h5></th>
        <th class="colNAV" scope="col"><h5>Address:</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <img class="card-img-top"  [src]="copyOfCustomer.gender === 0 ? './../../assets/portret.jpg' : './../../assets/woman.jpg'" alt="Foto">
        </td>
        <td>
            <ul>

                <li class="list-group-item">Name: {{copyOfCustomer.name}}</li>
                <li class="list-group-item">Last Name: {{copyOfCustomer.lastName}}</li>
                <li class="list-group-item">Gender: {{ copyOfCustomer.gender === 0 ? "Male" : "Female"}}</li>
            </ul>
        <div class="card-body">
            <div class="phoneNumber contactInfo">Phone Number: <a href="tel:+48720860430">{{copyOfCustomer.phoneNumber}}</a></div>
            <br>
            <div class="email contactInfo">Email:  <a href="mailto: kacper.berganski@onet.pl">{{copyOfCustomer.email}}</a></div>
        </div>
        </td>
        <td> 
            <li class="list-group-item">Country: {{copyOfCustomer.address.country}}</li>
            <li class="list-group-item">City: {{copyOfCustomer.address.city}}</li>
            <li class="list-group-item">Zip Code: {{copyOfCustomer.address.zipCode}}</li>
            <li class="list-group-item">Street: {{copyOfCustomer.address.street}}</li>
        </td>
      </tr>
    </tbody>
  </table>

 