.caseAddCustomer{
    background-color: burlywood;
    display: inline;
}

.bntSave{
    position: relative;
    top: .5rem;
}

input{
    margin-bottom: .3rem;
}

select{
    margin-left: .3rem;
}

.alert{
    font-size: 1.1rem;
    display: block;
    height: 1rem;
    width: 24.3rem;
    bottom: .5rem;
    right: 1.2rem;
    color: red;
    background-color: transparent;
    border: none;
}


.infoUser{
    border-bottom: .1rem solid black;
}

.btn-primary{
    width: 16.4rem;
    margin-top: 2rem;
}

.classCss-errors {
    color: red;
}

.normal {
    color: green;
}