.caseAddCustomer{
    background-color: burlywood;
    display: inline;
}

.bntSave{
    position: relative;
    top: .5rem;
}

input{
    margin-bottom: .3rem;
}

select{
    margin-left: .3rem;
}

.alert{
    display: block;
    color:black;
    width: 16.3rem;
}

.infoUser{
    border-bottom: .1rem solid black;
}

.btn-primary{
    width: 16.4rem;
}