.navbar{
    margin-bottom: 4rem;
}

.header{
    color: white;
    background-color: rgb(51,174,233);
    margin-bottom: 3rem;
}

.bg-customer-header{
    background-color: #33aee9;
}

.info {
    display: inline-block;
}

.title{
    font-size: 1.4rem;
    position: relative;
    float: right;
    right: 13rem;
    top: .3rem;
    color: white;
}

.userPlace{
    font-size: .8rem;
    position: relative;
    float: right;
    left: 21rem;
    top: .1rem;
    color: white;
}

.buttons-in-navbar{
    color:white;
    background-color: transparent;
}

.buttons-in-navbar:hover{
    color: black;
    transition: .4s color;
}

.hamburger{
    position: relative;
    float: right;
    border: none;
}

.hamburger:hover{
    background-color: rgb(71, 185, 252);
    transition: .4s background-color;
}

.hamburger:focus{
    border: none;
    text-decoration: none;
}

.dropdown-list{
    border: none;
    color: white;
    background-color:  rgb(51,174,233);
}

.navbar-nav {
    
    .nav-link {
      color: white;
    }

}

.navbar-nav{
    
    .nav-link:hover{
      color: black;
      transition: .4s color;
    }

}

.titleHamburger{
    display: none;
}

@media only screen and (min-width: 100px) and (max-width: 991px) {
    .info{
        display: none;
    }

    .logo{
        display: none;
    }

    .titleHamburger{
        display: block;
        color: white;
        font-size: 1.1rem;
    }
}



// .dropdown-item{
//     color: black;
//     border: none;
//     text-decoration: none;
// }

// li{
//     display: inline-block;
//     margin: 1rem;
// }

// ul{
//     font-size: 1.1rem;
//     position: relative;
//     float: left;
//     left: 10rem;
//     bottom: .9rem;
// }

// a{
//     padding: 8px;
//     background-color: transparent;
//     text-decoration: none;
//     color: white;
// }

// a:hover{
//     color: #000;
//     transition: color .3s;
//     border-bottom: .2rem solid black;
// }

// .logo{
//     font-size: 1.3rem;
//     position: relative;
//     display: inline-block;
//     margin-right: 1rem;
//     right: 23rem;
//     top: .5rem;
//     cursor: pointer;
// }

// .title{
//     font-size: 1.3rem;
//     position: relative;
//     float: right;
//     right: 15rem;
//     top: .3rem;
// }

// .userPlace{
//     font-size: .8rem;
//     position: relative;
//     float: right;
//     left: 19rem;
//     top: .5rem;
// }

// @media only screen and (min-width: 1000px) and (max-width: 1200px) {
//     li{
//         display: inline-block;
//         margin-left: .5rem;
//     }
    
//     ul{
//         font-size: 1.1rem;
//         left: 4rem;
//         bottom: 1rem;
//     }

//      .logo{
//         position: relative;
//         display: inline-block;
//         right: 25rem;
//         top: .5rem;
//     }
    
//     .title{
//         font-size: 1.3rem;
//         width: 20rem;
//         right: 10rem;
//     }
    
//     .userPlace{
//         font-size: .7rem;
//         bottom: 10rem;
//         width: 12rem;
//         left: 23rem;
//     }
// };

// // in progress

// @media only screen and (min-width: 880px) and (max-width: 1000px) {
//     li{
//         margin-left: .1rem;
//         font-size: .9rem;
//     }
    
//     ul{
//         left: 4rem;
//         bottom: .7rem;
//         // visibility: hidden;
//     }

//      .logo{
//         color: white;
//         right: 20.5rem;
//     }
    
//     .title{
//         font-size: 1.3rem;
//         color: white;
//         right: 10rem;
        
//     }
    
//     .userPlace{
//         font-size: .6rem;
//         color: white;
//         left: 19rem;
//     }
// };