.navbar{
    margin-bottom: 4rem;
}

.header{
    color: white;
    background-color: rgb(51,174,233);
    margin-bottom: 3rem;
}

.bg-customer-header{
    background-color: #33aee9;
}

.info {
    display: inline-block;
}

.title{
    font-size: 1.4rem;
    position: relative;
    float: right;
    right: 13rem;
    top: .3rem;
    color: white;
}

.userPlace{
    font-size: .8rem;
    position: relative;
    float: right;
    left: 21rem;
    top: .1rem;
    color: white;
}

.buttons-in-navbar{
    color:white;
    background-color: transparent;
}

.buttons-in-navbar:hover{
    color: black;
    transition: .4s color;
}

.hamburger{
    position: relative;
    float: right;
    border: none;
}

.hamburger:hover{
    background-color: rgb(71, 185, 252);
    transition: .4s background-color;
}

.hamburger:focus{
    border: none;
    text-decoration: none;
}

.dropdown-list{
    border: none;
    color: white;
    background-color:  rgb(51,174,233);
}

.navbar-nav {
    .nav-link {
      color: white;
    }
}

.navbar-nav{
    .nav-link:hover{
      color: black;
      transition: .4s color;
    }
}

.titleHamburger{
    display: none;
}

@media only screen and (min-width: 100px) and (max-width: 991px) {
    .info{
        display: none;
    }

    .logo{
        display: none;
    }

    .titleHamburger{
        display: block;
        color: white;
        font-size: 1.1rem;
    }
}