<div id="second">
  <div class="myform form ">
              <div class="logo mb-3">
                 <div class="col-md-12 text-center">
                    <h1 >Sign Up</h1>
                 </div>
              </div>
              <form [formGroup]="form" (ngSubmit)="saveUserAccount()" action="#" name="registration">
                 <div class="form-group"
                 >
                    <label 
                      for="exampleInputEmail1"><fa-icon class="iconloginInput" [icon]="faUser"></fa-icon> First Name
                    </label>

                    <input 
                      formControlName="firstName"
                      type="text"  
                      name="firstname" 
                      class="form-control" 
                      id="firstname" 
                      aria-describedby="emailHelp" 
                      placeholder="Enter Firstname">

                  <div *ngIf="form.controls['firstName'].invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.controls['firstName'].errors.required">
                      First Name is required <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                    </div>
                    <div *ngIf="form.controls['firstName'].errors.minlength">
                      First Name is too short (min. 3 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                    </div>
                    <div *ngIf="form.controls['firstName'].errors.maxlength">
                      First Name is too long (max. 25 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                    </div>
                    <div *ngIf="form.controls['firstName'].errors.pattern"> 
                      Cannot contain numbers <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                    </div>
                  </div>

                 </div>
                 <div class="form-group">
                    <label 
                      for="exampleInputEmail1"><fa-icon class="iconloginInput" [icon]="faUser"></fa-icon> Last Name
                    </label>

                    <input
                      formControlName="lastName"
                      type="text"  
                      name="lastname" 
                      class="form-control" 
                      id="lastname" 
                      aria-describedby="emailHelp" 
                      placeholder="Enter Lastname">

                    <div *ngIf="form.controls['lastName'].invalid && (form.controls['lastName'].dirty || form.controls['lastName'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="form.controls['lastName'].errors.required">
                        Last Name is required <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['lastName'].errors.minlength">
                        Last Name is too short (min. 3 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['lastName'].errors.maxlength">
                        Last Name is too long (max. 30 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['lastName'].errors.pattern"> 
                        Cannot contain numbers <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                    </div>

                 </div>
                 <div class="form-group">

                    <label 
                      for="exampleInputEmail1"><fa-icon class="iconloginInput" [icon]="faEnvelope"></fa-icon> Email address
                    </label>

                    <input 
                      formControlName="emailAddress"
                      type="email" 
                      name="email"  
                      class="form-control" 
                      id="email" 
                      aria-describedby="emailHelp" 
                      placeholder="Enter email">

                    <div *ngIf="form.controls['emailAddress'].invalid && (form.controls['emailAddress'].dirty || form.controls['emailAddress'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="form.controls['emailAddress'].errors.required">
                        Email address is required <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['emailAddress'].errors.minlength">
                        Email address is too short (min. 5 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['emailAddress'].errors.maxlength">
                        Email address is too long (max. 40 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['emailAddress'].errors.pattern"> 
                        Email is invalid <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                    </div>


                 </div>

                 <div class="form-group">

                    <label 
                      for="exampleInputEmail1"><fa-icon class="iconloginInput" [icon]="faKey"></fa-icon> Password
                    </label>

                    <input
                      formControlName="password"
                      type="text" 
                      name="password" 
                      id="password"  
                      class="form-control" 
                      aria-describedby="emailHelp" 
                      placeholder="Enter Password">


                    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="form.controls['password'].errors.required">
                        Password is required <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['password'].errors.minlength">
                        Password is too short (min. 8 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>
                      <div *ngIf="form.controls['password'].errors.maxlength">
                        Password is too long (max. 40 characters) <fa-icon class="iconExclamation" [icon]="faExclamation"></fa-icon>
                      </div>

                    </div>

                 </div>

                 <div class="col-md-12 text-center mb-3">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm bntStart">Get Started For Free</button>
                 </div>
                 <div class="col-md-12 ">
                    <div class="form-group">
                       <p class="text-center"><a [routerLink]='["/loginPanel"]' href="#" id="signin" class="link">Already have an account?</a></p>
                    </div>
                 </div>
                  
              </form>
           </div>
</div>
