a{
    text-decoration:none !important;
}


.myform{
    color: white;
   position: relative;
   display: -ms-flexbox;
   display: flex;
   padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #343A40;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: .5rem;
   outline: 0;
   max-width: 500px;
}

.tx-tfm{
    text-transform:uppercase;
}

h1{
    font-size: 3rem;
}

.mybtn{
    border: none;
    border-radius:50px;
    background-color: #FFC312;
    color: black;
}

.mybtn:focus{
    background-color:  #FFC312;
}

.mybtn:hover{
    color: black;
    background-color: white;
}

form .error {
    color: #ff0000;
}

.link{
    color: #FFC312;
}

.link:hover{
    border-bottom: .1rem solid #FFC312;
}

.alert-danger{
    margin-top: .4rem;
}
