.home-container{
    text-align: center;
}

.check-list-to-do{
    position: relative;
    text-align: center;
}

.column-future-we-want-to-add{
    text-align: left;
    margin-right: 8rem;
    display: inline-block;
}

#for-to-do-list{
    position: relative;
    left: 23%;
}

.p-for-want-to-add{
    position: relative;
    font-size: .8rem;
    color: rgb(126, 126, 126);
    margin-top: .5rem;
}

.icons-title{
    margin-top: 4%;
    margin-bottom: 4%;
}

.tech-badge {
    height: 90px;
    margin-right: 3%;
}

.tech-badge-bigger {
    @extend .tech-badge; 
    height: 100px;
}

.tech-badge-much-bigger {
    @extend .tech-badge; 
    height: 170px;
}

.tech-badge-little-smaller {
    @extend .tech-badge; 
    height: 80px;
}

.tech-badge-smaller {
    @extend .tech-badge; 
    height: 70px;
}

.icons-description {
    margin-top: 4%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    color: rgb(50, 103, 216);
    
    transition: color .5s;
}

.links-for-want-to-add{
    transition: .3s color;
    transform: scale(0.7);
}

.links-for-want-to-add:hover{
    color:  var(--colorMustard);
}